<footer class="page-foot" role="contentinfo">

  <div class="wrapper">

    <ul class="page-foot__list  list-inline">
      <li class="page-foot__item">
        <span class="[ icon  icon--soycon-logo ]  page-foot__logo"></span>
        <p class="u-mb0">© 2015 Soycon</p>
      </li>
      <li class="page-foot__item">
        <h3 class="page-foot__title">Encuéntranos</h3>
        <p class="u-mb0">Camino la Choza, 21 <br />38550 Arafo <br />Santa Cruz de Tenerife</p>
      </li>
      <li class="page-foot__item">
        <h3 class="page-foot__title">¿Hablamos?</h3>
        <ul class="list-block">
          <li class="list-block__item">
            <a class="js-email" data-email="info at soycon dot es"></a>
          </li>
          <li class="list-block__item">
            <a href="tel:+34922510386">+34 922 510 386</a>
          </li>
          <li class="list-block__item">
            <a href="tel:+34699422181">+34 699 422 181</a>
          </li>
        </ul>
      </li>
      <li class="page-foot__item">
        <h3 class="page-foot__title">Síguenos</h3>
        <ul class="list-block">
          <li class="list-block__item">
            <a href="https://twitter.com/soycon_es" target="_blank">Twitter</a>
          </li>
          <li class="list-block__item">
            <a href="https://www.linkedin.com/in/soycon" target="_blank">LinkedIn</a>
          </li>
        </ul>
      </li>
    </ul>

    <small class="page-foot__copy  u-mb0">Hecho con <span class="icon  icon--heart"></span><span class="hide">amor</span>
      por <a href="http://abelnieva.com" target="_blank">Abel Nieva</a></small>

  </div>

</footer><!-- /page-foot -->

<!-- Scripts -->
<script src="{{ "/assets/js/soycon.thirds.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/soycon.js" | prepend: site.baseurl }}"></script>
