/*------------------------------------*\
  #COLORS
\*------------------------------------*/

// Color palette
$color-orange:            #FF6100;
$color-red:               #F44336;
$color-white:             #FFF;
$color-light-gray:        #FAFAFA;
$color-gray:              #333;
$color-dark-gray:         #252525;
$color-black:             #000;





// UI color application
$color-text:                      $color-gray;
$color-brand:                     $color-orange;





// Page
$inuit-base-text-color:           $color-text;





// Links
$color-links:                     $color-brand;
$color-links-hover:               $color-dark-gray;





// Iconic
$color-iconic:                    $color-light-gray;





// Site nav
$site-nav-color:                  $color-black;
$site-nav-bck-filled:             $color-white;
$site-nav-color-filled:           $color-dark-gray;




// Page head
$page-head-color:                 $color-white;
$page-head-bck:                   $color-orange;
$page-head-masthead-bck:          $color-orange;
$page-project-head-color:         $color-dark-gray;
$page-project-head-overlay-bck:   $color-white;





// Page foot
$page-foot-bck:                   $color-orange;
$page-foot-color:                 $color-black;





// Jumbotron
$jumbotron-last-projects-bck:     $color-light-gray;
$jumbotron-contact-bck:           $color-dark-gray;
$jumbotron-contact-color:         $color-white;
$jumbotron-not-found-color:       $color-white;





// Thumbnail
$thumbnail-post-color:                $color-dark-gray;
$thumbnail-post-even-hover-color:     $color-dark-gray;
$thumbnail-post-odd-hover-color:      $color-orange;





// Post list
$last-projects-color:                 $color-dark-gray;
