/*------------------------------------*\
   #GLOBAL
\*------------------------------------*/
$brand-round:     4px;
$base-round:      $brand-round;





// Typography
$base-family:     "Raleway", "Helvetica Neue", Helvetica, sans-serif;

$thin:            100;
$light:           300;
$normal:          400;
$semi-bold:       600;
$bold:            700;
$ultra-bold:      900;
