---
layout: default
---

{% include header-empty.html %}

<main role="main" class="page-body">

  <h1 class="page-head__title  u-mb0">{{ page.title }}</h1>

  <h2 class="page-head__subtitle">{{ page.subtitle }}</h2>

  {{ content }}

</main><!-- /page-body -->

<div class="map">

  <iframe frameBorder='0' src='https://a.tiles.mapbox.com/v4/abelnieva.ohdhcl3o/attribution.html?access_token=pk.eyJ1IjoiYWJlbG5pZXZhIiwiYSI6ImNpaW40aGpnbjAwNWR3OW0wOG84cnBoMmoifQ.eR89TCLpnvAus9tNjB8qeQ'></iframe>

</div><!-- /map -->
